@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');
* {
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --beige: rgba(245,245,220, 0.7);
    --red: rgba(255, 233, 232, 0.4);
    --black: rgba(25, 25, 25, 1);
    --blue: rgb(0, 119, 181);
    --green: rgb(143,188,143, 1);
    --pink: rgba(170, 0, 120, 1);
}

.container {
    font-size: 16px;
    margin-top: 1vh;
    overflow-x: hidden;
}

html {
    font-size: 20px;

    margin-top: 3em;
}

h1 {
    font-size: 2.5rem;
    color: var(--black);
    margin: 1vh 0;
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin: 1vh 0;
}

h3 {
    text-align: center;
    vertical-align: text-top;
    font-size: 1.7rem;
}
p {
    margin: 0 0 1rem;
}

header,
main, 
footer {
    margin: 0 auto;
    max-width: 1800px;
    /* max-width: 850px; */
    /* max-width: 1200px for full-screen */
    min-width: 320px;
}
header {
    padding: 2.8em 0;
    background: var(--red);
    color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header img {
    height: 45vh;
    border-radius: 20rem;
    border: blue;
    padding:1px;
    border:2px solid #021a40;
}

header h1 {
    font-size: 3em;
}

header span {
    font-size: 1.7em;
    color: var(--black);
    text-align: center;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-flow: row;
    justify-content: center;

     background: #333; 
     
}

nav a {
    padding: 0.7em 2em;
    text-decoration: none;
    color: #fff;
}


nav a:hover {
    background: #666;
}

section {
    margin: 1em 0;

    padding-top: 2em;
    min-height: 12em;
    padding-bottom: 1.5em;
    padding-left: 2 em;
}

section > p {
    /* margin: 1em 0; */
    text-align: center;
}

section ul {
    padding-left: 1.5em;
}

main {
    min-height: 100vh;
}

main section:nth-child(odd) {
    background: var(--beige);
}

main section:nth-child(even) {
    background: var(--red);
}

section > * {
    max-width: 850px;
    margin: 1em auto;
}

/* #aboutMe {
    background: var(--beige);
} */
.Skill-List {
    display: grid;
    text-align: center;
}

.Skill-List u {
    list-style-type: none;
}

#projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
  }
  
  #projects span {
    display: block;
  }
  
  #projects article {
    background: var(--red);
    text-align: center;
    padding: 1em;
    height: 15em;
    border-radius:1.5vw;
    color: #fff;
    position: relative;
  
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    overflow: hidden;
    cursor: pointer;
  }
  
  #projects article:hover {
    background: #333;
    /* background-size: cover; */   
  }
  
  #projects * {
    transition: 0.5s;
  }
  
  #projects article h3,
  #projects article span,
  #projects article button {
    position: absolute;
    opacity: 0;
  }
  
  #projects article h3 {
    top: -2em;
    font-size: 1.5em;
  }

  #projects article span {
      display: block;
    margin-top: 0.7em;
  }
  #projects article button {
    bottom: -2em;
    border-radius: 2em;
    background: var(--green);
  }

#projects article button a {
    text-decoration: none;
    font-weight: bold;
    /* background: var(--green); */
}
  
  #projects article:hover h3 {
    opacity: 1;
    top: 1em;
  }
  #projects article:hover span {
    opacity: 1;
    top: 3em;
  }
  #projects article:hover button {
    opacity: 1;
    bottom: 1em;
  }

  #projects article button a:visited
{
   color: #161413;
   text-decoration: none;
   font-weight: bold;
}
.project:hover img {
    opacity: 0.3;
    background: #161413;
}

#projects article img {
  display: block;
  width: 100%;
  border: 1px solid #333;
  height: 120%;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.contactSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -1em;
}

#contactMe ul span{
    color: var(--black);
}
#contactMe li,
#contactMe a{
    color: var(--blue);
    text-decoration: none;
}
/* footer {
    margin-top: 2em;
    margin-bottom: 2em;
    background: #666;
    color: #fff;
    padding: 1 em 0;
    text-align: center;
} */
#footer {
    margin-top: 2em;
    margin-bottom: 2em;
    background: #666;
    color: #fff;
    padding: 2em 0;
    text-align: center;
}

#footer  p  a {
    padding-bottom: 40px;
    color: var(--beige);
    font-size: 20px;
    font-style: inherit;
    text-decoration: none;
}

#footer p {
    text-align: center; 
    /* display: flex; */
}

.social-links {
    list-style:none;
    margin:0;
    padding:0;
    margin-bottom:30px;
    text-align: center;
    justify-content: center;
}

.social-links li{
    display:inline-block;
    margin:0 5px;
    border-radius:3px;
    box-shadow:0 4px 0 transparent;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.social-links li a {
    display:block;
    color:#fff;
    font-size:21px;
    width:50px;
    height:50px;
    line-height:50px;
    text-align:center;
    background: var(--black);
    border-radius:50%;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.social-links li a:hover {
    color:#fff;
    background: var(--blue);
}

.social-links li a:active {
    color:#fff;
    background: var(--pink);
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 60px;


    background: rgba(250, 250, 250, 0.5);
}

#modal.show {
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

#modal > div {
    background: #4322;
    border: 3px solid #777;
    width: 600px;
    height: 65px;
    border-radius: 0;
    transition: 0.3s;
}

#clickMe {
    display: block;
    margin: 0 auto;
    padding: 15px 32px;
}

 /* main.open-modal {
    overflow: hidden;
  }  */
  
  #modal-screen {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #333;
    opacity: 0.7;
    top: 0;
    left: 0;
  
    justify-content: center;
    align-items: center;
  }
  
  main.open-modal #modal-screen {
    display: flex;
  }
  
  #modal-box {
    color: black;
    background: white;
    border: 2px solid blanchedalmond;
  
    min-width: 300px;
    max-width: 500px;
    width: 80vw;
  
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 0 15px 5px black;
  }
  
  #modal-box h2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .interestGrid {
      display: grid;
      grid-column-gap: 2px;
      justify-content: space-evenly;
      align-items: center;
      background: var(blue);
      grid-template-columns: 1fr 1fr;
  }

  /* .grid-item1, 
  .grid-item2,
  .grid-item3 {

  } */

  .carousel {
    background: black;
    width: 500px;
    height: 320px;
    margin: 0 auto;
  
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 250px 70px;
  }
  
  .carousel .prev {
    background: blue;
    color: white;
  
    /* row-start / col-start / row-end / col-end */
    grid-area: 1 / 1 / 3 / 2;
  }
  
  .carousel .next {
    background: green;
    color: white;
  
    /* row-start / col-start / row-end / col-end */
    grid-area: 1 / 3 / 3 / 4;
  }
  
  .carousel .view {
    background: grey;
    border: 2px solid white;
  
    /* row-start / col-start / row-end / col-end */
    grid-area: 1 / 2 / 2 / 3;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }
  
  .carousel .view img {
    width: 100%;
  }
  
  .carousel .imgs {
    outline: 1px dashed orange;
  
    /* row-start / col-start / row-end / col-end */
    grid-area: 2 / 2 / 3 / 3;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
    overflow-x: scroll;
  }
  
  .carousel .imgs img {
    height: 40px;
    border: 1px solid white;
    margin: 0 10px;
  }
  