/* An asterisk means everything*/
* {
    margin: 0;
    padding: 0;
    font-family: /*Arial, "Times New Roman",*/ sans-serif;
}

html {
    font-size: 16px;
}
/* .box {
    background-image: url(../images/background.jpg);
    padding: 100px;
    margin: 100px;
} */

.typewriter p {
    color: #fff;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(0, 4, 255);  /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
 
  /* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(0, 4, 255) }
  }

header {
    color: #ffff;
    /* background: url(images/move.gif) no-repeat; */
     background-size: cover; 
    /* position: relative; */
    /* background: #252934;   */
    background: url(images/background.jpg) no-repeat center center fixed; 
    /* position: fixed; */
    border-bottom: 5px solid #34495E;
    background-size: cover;
    height: 100vh;
    width: 100vw; 
    /* width: 100%; */
    /* text-align: center; */
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    font-size: 3rem;
}

header button {
    color: #fff;
    background: transparent;
    border: 2px solid #fff;

    font-size: 1.618rem;
    padding: .5rem 1rem;

    margin-top: .8rem;

    transition: 0.4s;
}

header button:hover {
    background: #09f;
    border-color: #09f;
}

/* .highlight {
    color: magenta;
} */

#main-nav {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    background: #000;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;

    display: inline-block;
    padding: 0.5rem 1rem;    
}

nav a:hover {
    background: var(--light-grey)
}

#main-nav > nav {
    display: inline-block;
}

#main-nav > nav > div {
    display: none;
    background: #111;
    position: absolute;
}
#main-nav > nav > div > a {
    display: block;
}

#main-nav > nav:hover > div {
    display: block;
}

main {
    min-height: 100vh;
}

main section:nth-child(odd) {
    background: #fff;
}

main section:nth-child(even) {
    background: #ddd;
}

section > * {
    max-width: 850px;
    margin: 1em auto;
}
img.myImage {
    max-width: 30%;
    height: auto;
    opacity: 0.7;
    display: flex;
    flex-start: left;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
    padding: 20em;
}
#projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*fraction unit*/
    grid-column-gap: 1em;
}

#projects span {
    display: block;
}

#projects article {
    background: #ccc;
    text-align: center;
    padding: 1em;
    height: 12em;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    cursor: pointer;
}

#projects article:hover {
    background: #fff;
}
#projects * {
    transition: 0.5s;
}

#projects article h3,
#projects article span,
projects article button {
    position: absolute;
    opacity: 0;
}

#projects article h3 {
    top: -2em;
}
#projects article span {
    top: 0;
}
projects article button {
    bottom: -2em;
}

#projects article:hover h3 {
    opacity: 1;
    top: 1em;
}
#projects article:hover span {
    opacity: 1;
    top: 3em;
}
projects article:hover button {
    opacity: 1;
    bottom: 1em;
}

 a {
    color: #3B5998;
    text-decoration: none;
}

/* Style all font awesome icons */

    .fa {
        padding: 20px;
        font-size: 30px;
        width: 1em;
        text-align: center;
        text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: rgb(3, 120, 209);
    color: white;
}
